.home{
    width: 100%;
    height: 1000px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 100px;
}
.heroTxtBox{
    width: 70%;
    height: 400px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}
.heroTxt1{
    font-size: 52px;
    color: white;
}
.heroTxt2{
    font-size: 20px;
    color: white;
}