.bentoGrid{
    width: 100%;
    height: 230vh;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bentoTxtBox{
    width: 70%;
    height: 200px;
    display: flex;
    /* background-color: bisque; */
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}
.bentoTxt{
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
}
.bentoTxt2{
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.bento {
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* background-color: red; */
}

#bentoCard{
  margin: 0;
  background-color: rgb(8, 1, 14);
  border: 1px solid rgb(255, 255, 255, 0.2);
  width: 100%;
  background-image: repeating-linear-gradient(
    to right, transparent 0 49px, #eee1 49px 50px
  ),
  repeating-linear-gradient(
    to bottom, transparent 0 49px, #eee1 49px 50px
  );
   
}
.bento1 { 
    grid-area: 1 / 1 / 2 / 5; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    border: 1px solid rgb(255, 255, 255, 0.2);
}
.bento1Txt{
    color: rgba(255, 255, 255, 1);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
#primaryBentoTxt{
    font-size: 40px;
}
#secBentoTxt{
    font-size: 16px;
}
.bento1 img{
    width: 50%;
    height: 90%;
}


.bento2 { 
    grid-area: 2 / 1 / 3 / 3; 
border-radius: 12px;
    border: 1px solid rgb(255, 255, 255, 0.2);
}
.summary1{
    position: relative;
    right: -100px;
}
.summary2{
    position: relative;
    right: -200px;
}



.bento3 { 
    grid-area: 2 / 3 / 4 / 5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.bento3Txt{
    color: rgba(255, 255, 255, 1);
    width: fit-content;
    height: 100px;
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.bento3 img{
    width: 450px;
    height: 80%;
    /* border: 1px solid white; */
}


.bento4{
    grid-area: 3 / 1 / 4 / 2; 
    border: 1px solid rgb(255, 255, 255, 0.2);
}
.bento5 { 
    grid-area: 3 / 2 / 4 / 3; 
    border: 1px solid rgb(255, 255, 255, 0.2);
}
.bento4, .bento5 { 
    /* background-color: rgb(127, 255, 146); */
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 10px;
    align-items: center;
    text-align: start;
    justify-content: center;
}
.bento4 p, .bento5 p{
    color: rgba(255, 255, 255, 1);
    padding-left: 30px;
    padding-right: 20px;
}
.bento4Txt1{
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
}
.bento4Txt2{
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
.bento4 img{
    width: 104px;
    height: 90px;
} 
.bento5 img{
    width: 90px;
    height: 90px;
}
