.footer{
    width: 100%;
    height: 350px;
    /* background-color: aqua; */
    /* border-top: 1px solid #ab3cfa; */
    border-top: 1px solid rgb(255, 255, 255, 0.2);
}
.footerLogoBox{
    height: 100%;
    width: 20%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footerLogo{
    height: 80px;
    width: 100%;
    /* background-color: rgb(236, 205, 255); */
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.footerLogo h2{
    color: white;
}
.footerLogo img{
    width: 60px;
    height: 80%;
}

.footerBody{
    width: 100%;
    height: 70%;
    /* background-color: rgb(80, 45, 0); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footerTxt{
    width: 100%;
    height: 30%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: end;
}
.footer h1{
    font-size: 200px;
    bottom: -70px;
    position: fixed;
    color: rgba(255, 255, 255, 0.267);
}

.footerLinks{
    height: 100%;
    width: 20%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.footerLinks h2{
    color: white;
}
.footerLinks p, .footerLogoBox p{
    color: rgba(255, 255, 255, 0.648);
}   