.pricingCard{
 background-color: rgba(22, 22, 22, 1);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 height: 100%;
 border-radius: 24px;
 width: 30%;
 border: 1px solid rgba(36, 36, 36, 1);
}

.pricingContents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 11px;
    width: 80%;
    /* border: 1px solid white; */
}

.popularBadge{
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: rgba(32, 17, 34, 1);
    color: rgba(151, 51, 198, 1);
    padding: 8px 12px;
    border-radius: 32px;
    font-size: 14px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(64, 35, 100, 1);
}
.pricingCardTitle{
    font-size: 48px;
    color: rgba(251, 251, 251, 1);
}
.pricingCardSubtitle{
    font-size: 16px;
    color: rgba(155, 156, 161, 1);
}
.pricingCardPrice{
    font-size: 40px;
    color: rgba(251, 251, 251, 1);
}
.pricingCardPriceSpan{
    font-size: 16px;
    color: rgba(224, 224, 224, 1);
}

.check{
    font-size: 16px;
    color: rgba(251, 251, 251, 1);
}
.pricingCard ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.pricingCard ul li{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgba(251, 251, 251, 1);
}

.pricingCardBtn{
    width: 300px;
    padding: 12px 24px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}